.container{
    width: 80%;
    height: 80vh; ;
    border: 2px solid black;
}
.a{
    padding: 20px 10px 30px 20px;
    margin: 30px; ;
}
p{
    background-color: yellow;
    color: red;
    font-size: 20px;
    padding: 20px 10px 30px 20px;
}
.static{
    position: static;
}
.sticky{
    position: sticky;
    top: 20px;
}
.fixed{
    position: fixed;
    bottom: 10px;
    right: 40px;
}
.absolute{
    position:absolute;
    right: 100px;
    bottom: 10px; 
}
.realtive{
    position: relative;
}
