*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #c13584, #6a0572);
}

.game{
    width: 70%;
    height: 60%;
    display: flex;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 20px 40px rgba(0,0,0,0.3);

    position: relative;   
}


/* players */
.player{
    flex: 1;
    text-align: center;
    padding: 40px;
    background: #f7c3d1;
}

.player2{
    background: #d09aa7;
}

.player h2{
    letter-spacing: 2px;
}

.player h1{
    font-size: 70px;
    color: #c13584;
    margin: 20px 0;
}

.current{
    background: #c13584;
    color: white;
    width: 120px;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
}

/* middle section */
.middle{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);  /* ⭐ center */
    
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}


.btn{
    padding: 8px 18px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    background: white;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 5px;
}


.dice{
    background: white;
    padding: 15px;
    border-radius: 10px;
    font-size: 30px;
}
